doctype html
head
  title Hola, &iquest;Sigues ah&iacute;? &iexcl;Te echamos de menos!
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap' rel='stylesheet')
  style.
    body {font-family: 'Nunito', sans-serif; background-color: #313543; color: #FFF;}
    .page {border-radius: 4px;}
    .title, .content, .footer {padding: 25px; text-align:center;}
    .title {background-color: #17191f;}
    .content {background-color: #282C37;}
    .btn {background-color: #5455FF; padding: 5px 16px; border: none; color: #FFF; font-weight: bold; letter-spacing: 2px; text-decoration: none; color: #FFF; line-height: 26px; border-radius:4px}
    .footer {background-color: #1F232B; padding-left: 25px; padding-right:25px}
    footer {font-size: 12px; color: #737d99; text-align:center; padding: 20px;}
    footer p a {text-decoration: none; color: #737d99; cursor:point;}
.page
  .title
    h1 &iexcl;Hola, #{name}!
  .content
    h2 &iquest;Sigues ah&iacute;? &iexcl;Te echamos de menos!
    p &iquest;Te acuerdas de Mastodon? &iexcl;Hace tiempo que no nos vemos!
    p Hace un tiempo, un mont&oacute;n de gente vino de Twitter a Mastodon, y eso te incluye.
    h3 Te registraste con este usuario, &iquest;Te acuerdas?
    a.btn(href='https://xarxa.cloud/') @#{account}
  .footer
    p Te registraste el #{date} en el nodo xarxa.cloud.
    p
      | Hace ya 6 meses desde la &uacute;ltima vez que te conectaste, y nos pareci&oacute; una buena ocasi&oacute;n para decirte cu&aacute;nto valoramos tu presencia y participaci&oacute;n en nuestro nodo en el Fediverso.
    p
      | Estamos realizando tareas de mantenimiento y queremos eliminar las cuentas que no se van a utilizar, si quieres mantener tu cuenta debes de acceder a tu cuenta.
    p
      | &iexcl;Te pedimos que accedas a tu cuenta en los pr&oacute;ximos 15 d&iacute;as para evitar la eliminaci&oacute;n! Valoramos tu presencia y no queremos perderte como miembro de nuestra comunidad.
    hr
    p
      | Recuerda que, a la hora de iniciar sesi&oacute;n, el correo electr&oacute;nico de tu cuenta es este a donde te estamos escribiendo, pero si no recuerdas tu contrase&ntilde;a, pulsa a continuaci&oacute;n y te mandaremos una nueva para que puedar volver a entrar.
    a.btn(href='https://xarxa.cloud/auth/password/new') Recordar contrase&ntilde;a
footer
  p
    | Equipo de 
    a(href='https://xarxa.cloud') xarxa.cloud

